$transition: .4s;
$transition-fast: .15s;
$tr-time: .15s;

$black: #4C4E48;
$green: #768254;
$green-bg: #EAECE5;
$yellow: #FEBC11;
$gray: #E2E2E2;

$pale-green: #d9f1db;
$dark-green: #275f40;
$light-green: #41bb4c;
$gray-green: #9db7a9;
$orange: #faa746;