.header {
    width: 100%;
    height: clampFluid(119);
    display: flex;
    z-index: 15;

    @media (max-width: 1280px) {
        height: 63px;
    }

    &__container {
        display: flex;
        align-items: center;
    }

    &__left {
        display: flex;
        gap: clampFluid(25);
        align-items: center;
        margin-right: clampFluid(100);

        p {
            @include p2;
            font-weight: 500;
            color: white;
        }

        @media (max-width: 1280px) {
            display: none;
        }
    }

    &__center {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1280px) {
            display: none;
        }
    }

    &__right {
        margin-left: auto;
        display: flex;
        gap: 1px;
        align-items: center;


        @media (max-width: 1280px) {
            display: none;
        }
    }

    &__right-tel {
        margin-right: clampFluid(17);

        p {
            color: white;
            @include p2;
            font-weight: 500;
        }
    }

    .btn {
        p {
            font-weight: 500;
        }
    }





    &--dark {
        background: transparent;
        transition: $transition;

        .header-menu__logo {
            svg {
                fill: $black  !important;
            }
        }

        .header__left {
            p {
                color: $black;
            }


        }

        .header-menu__elem {
            p {
                color: $black;
            }
        }

        .header__right-tel {
            p {
                color: $black;
            }
        }

        .btn {
            border-color: $black;

            p {
                color: $black;
            }

            &:hover {
                p {
                    color: white;
                }

                border-color: $green;
            }
        }

        .header-menu__submenu {
            background: white;
        }

        .header-menu__submenu-elem {
            p {
                color: $black;
            }

            @media (max-width: 1280px) {
                color: white;
            }
        }

        .header-mobile__logo {
            svg {
                fill: $black
            }
        }

        .header-mobile__menuBtn {
            border: 1px solid $gray;
            background: transparent;
        }

        .bar {
            background: $black;
        }

        .header-mobile__messengers p {
            color: $black;
        }

    }

    &--scrolled {
        background: white;
        transition: $transition;

        .header-menu__logo {
            svg {
                fill: $black  !important;
            }
        }

        .header__left {
            p {
                color: $black;
            }


        }

        .header-menu__elem {
            p {
                color: $black;
            }
        }

        .header__right-tel {
            p {
                color: $black;
            }
        }

        .btn {
            border-color: $black;

            p {
                color: $black;
            }

            &:hover {
                p {
                    color: white;
                }

                border-color: $green;
            }
        }

        .header-menu__submenu {
            background: white;
        }

        .header-menu__submenu-elem {
            p {
                color: $black;
            }

            @media (max-width: 1280px) {
                color: white;
            }
        }

        .header-mobile__logo {
            svg {
                fill: $black
            }
        }

        .header-mobile__menuBtn {
            border: 1px solid $gray;
            background: transparent;
        }

        .bar {
            background: $black;
        }

        .header-mobile__messengers p {
            color: $black;
        }

    }
}


.messanger-icons {
    display: flex;
    gap: clampFluid(10);
    align-items: center;

    &__elem {
        width: clampFluid(30);
        height: clampFluid(30);
        transition: $transition-fast;

        &:hover {
            opacity: 0.7;
        }

        &:nth-child(2) {
            width: clampFluid(25);
            height: clampFluid(25);
        }
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.header-menu {
    display: flex;
    gap: clampFluid(24);
    align-items: center;

    &__elem {
        display: flex;
        align-items: center;

        .circle {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            margin-left: 4px;
            background: $yellow;
        }

        p {
            @include p2;
            font-weight: 500;
            color: white;

            @media (max-width: 1280px) {
                @include p1;
            }
        }
    }

    &__elem-wrapper {
        position: relative;
        cursor: pointer;

        &:hover {
            .header-menu__submenu {
                opacity: 1;
                user-select: all;
                transition: $transition-fast;
            }
        }

        @media (max-width: 1280px) {
            position: static;
        }
    }

    &__submenu {
        user-select: none;
        position: absolute;
        top: 30px;
        opacity: 0;
        left: -12px;
        user-select: none;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-radius: 5px;
        border: 1px solid rgba(226, 226, 226, 1);



        @media (max-width: 1280px) {
            border-color: $green;
            top: 0;
            left: -100px;
            gap: 12px;
            height: 230px;
            width: clampFluid(320, 350);
            background: $green  !important;
            transform: translateX(100%);
            justify-content: center;

            &.active {
                opacity: 1;
                transform: translate(0);
            }

        }

    }
    &__submenu-hover-area{
        position: absolute;
        top: -10px;
        width: 100%;
        left: 0;
        height: 10px;
        &:hover{
            .header-menu__submenu{
                opacity: 1;
            }
        }
    }
    &__submenu-elem {
        p {
            @include p2;
            color: white;
            font-weight: 500;

            @media (max-width: 1280px) {
                text-align: center;
                @include p1;
                color: white !important;
            }
        }
    }

    &__submenu-back {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            @include p1;
            color: white;
        }

        &-circle {
            margin-right: 7px;
            width: 30px;
            height: 16px;
            background: white;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                stroke: $green;
                width: 10px;
                height: 6px;
            }

        }

        @media (min-width: 1281px) {
            display: none;
        }
    }

    &__logo {
        width: clampFluid(216);
        height: clampFluid(81);
        margin-left: 6px;
        margin-right: 7px;
        margin-bottom: 10px;

        svg {
            fill: white;
            width: 100%;
            height: 100%;
        }
    }

    .bar {
        background: $black ;
    }
}






.nav-toggle {
    width: 40px;
    height: 40px;
    position: relative;
    background: transparent;
    border: 1px solid transparent;
    margin: 7px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-toggle:focus {
    outline-width: 0;
}

.bar {
    background: white;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    height: 2px;
    width: 22px;
    margin-bottom: 4px;

    &:last-child {
        margin-bottom: 0;
    }
}

.active {
    .bar-top {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 15% 15%;
        transform-origin: 15% 15%;
    }

    .bar-mid {
        opacity: 0;
    }

    .bar-bot {
        -webkit-transform: rotate(45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 15% 95%;
        transform-origin: 15% 95%;
    }
}

.header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;

    @media (min-width:1281px) {
        display: none;
    }


    &__yandex-nav {
        width: 40px;
        height: 40px;

    }

    &__logo {
        width: 143px;
        height: 53px;

        svg {
            fill: white;
        }
    }

    &__menuBtn {
        width: 40px;
        height: 40px;
        background: $green;
        border: 1px solid $green;
        fill: transparent;
        border-radius: 50%;
        border: 1px solid white;
    }

    &__messengers {
        position: absolute;
        bottom: -37px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        backdrop-filter: blur(51px);
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        height: clampFluid(37, 44);

        p {
            @include p1;
            color: white;
            margin-right: clampFluid(20, 25);
        }

        &-list {
            display: flex;
            align-items: center;
            gap: clampFluid(20, 24);
        }

        &-elem {
            width: clampFluid(26, 35);
            height: clampFluid(26, 35);

            &:first-child {
                width: clampFluid(22, 30);
                height: clampFluid(22, 30);
                fill: $green;
            }
        }

        @media (min-width: 768px) {
            width: 354px;
        }

        @media (min-width: 1281px) {
            display: none;
        }
    }

}

.mob-menu {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transform: translateX(100%);
    transition: $transition;
    width: 350px;
    height: clampFluid(590, 667, 425, 1280);
    padding: clampFluid(8, 12) clampFluid(37, 41) clampFluid(27, 30);
    background: $green;
    top: 0px;
    right: 0;
    border-radius: 0px 0px 8px 8px;

    @media (max-width: 425px) {
        width: 100%;
        height: 100vh;
        border-radius: 0;

    }


    .tel {
        margin-bottom: clampFluid(30, 33);
        @include p1;
        color: white;
    }

    &.active {
        transition: $transition;
        transform: translateX(0%);
    }

    .btn {
        margin-bottom: 35px;
        border-color: white !important;

        p {
            color: white !important;
        }
    }

    .header-menu {
        flex-direction: column;
        gap: 16px;
        margin-bottom: clampFluid(30, 33);

        &__logo {
            display: none;
        }

        &__elem {
            cursor: pointer;

            p {
                color: white !important;
            }
        }

        @media (max-width: 1280px) {
            position: relative;
        }

    }



    &__btn {
        position: absolute;
        top: 11px;
        right: 10px;
        width: 40px;
        height: 40px;
        fill: transparent;
    }

    .bar {
        background: white !important;
    }

    &__logo {
        svg {
            fill: white;
        }

        margin: 0 auto 47px;
        width: 127px;
        height: 46px;
        display: block;
    }

    &__address {
        margin: 0 auto 19px;

        p {
            @include p1;
            color: white;
        }
    }

    .messanger-icons {
        margin: 0 auto clampFluid(49, 54);
        justify-content: center;
        gap: 20px;

        &__elem {
            width: 30px;
            height: 30px;
        }
    }

}